
# Created by https://www.gitignore.io/api/cpp

#!! ERROR: cpp is undefined. Use list command to see defined gitignore types !!#


# End of https://www.gitignore.io/api/cpp

# Created by https://www.gitignore.io/api/py

#!! ERROR: py is undefined. Use list command to see defined gitignore types !!#


# End of https://www.gitignore.io/api/py

# Created by https://www.gitignore.io/api/c

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# End of https://www.gitignore.io/api/c

*.txt
*.html
/Competitive.sublime-project

/Competitive.sublime-workspace

/Programming.sublime-project

/Programming.sublime-workspace

/competitive-programming.sublime-workspace
